#board.layout-trello-vertical,
#board.layout-trello-mixed,
#board.layout-trello-horizcards {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    align-content: flex-start;
}

#board.layout-trello-vertical,
#board.layout-trello-horizcards {
    flex-direction: column;
}

#board.layout-trello-vertical .list-wrapper {
    width: inherit;
}
#board.layout-trello-vertical .list-card {
    max-width: inherit ;
}

#board.layout-trello-mixed {
    flex-direction: row;
    flex-wrap: wrap;
}

#board.layout-trello-vertical .list-wrapper,
#board.layout-trello-mixed .list-wrapper,
#board.layout-trello-horizcards .list-wrapper {
    margin: 0 0 10px 10px;
    height: auto;
}

#board.layout-trello-horizcards .list-cards {
    width: 100%;
}
#board.layout-trello-horizcards .list-wrapper {
    width: calc(100% - 20px);
}

#board.layout-trello-horizcards .list-header {
    max-height: 24px;
}

#board.layout-trello-horizcards .js-list-content {
    flex-direction: row;
    flex-wrap: wrap;
}

#board.layout-trello-horizcards .js-list-content > :first-child {
    flex-basis: calc(100% - 44px);
}

#board.layout-trello-horizcards .list-wrapper .list-cards {
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
}

#board.layout-trello-horizcards .list-card {
    margin-right: 8px;
}

#board .list-card.done {
    border-radius: 3px;
}

#board .list-card.done .badge.complete {
    display: none;
}

#board .list-card .badge.hidden {
    display: none;
}